html, body{
    margin-top: 0;
  margin-bottom: 0;
  margin-left: 155px;
  margin-right: 155px;
}
.container{
  width: 1280;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.header{
  display: flex;
  background: #ffff;
    height: 80px;
}

.left-header{
  display: flex;
  padding-left: 40px;
  align-items: center;
  background: rgb(255, 255, 255);
  width: 320px;
}
.center-header{
  display: flex;
  align-items: center;
  background: rgba(255, 0, 0, 0.76);
  width: 760px;
}
.right-header{
  display: flex;
  align-items: center;
  padding-left: 10px;
  background: rgba(255, 0, 0, 0.76);
  width: 200px;
}

a.about{
  margin-left: 40px;
  color: #fff;
}
a.contact{
  margin-left: 20px;
  color: #fff;
}
a.users{
  margin-left: 20px;
  color: #fff;
}
a.login{
  margin-left: 5px;
  color: #fff;
}
a.profile{
  margin-left: -20px;
  color: #fff;
}
a.registration{
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
}

.main{
  display: flex;
  padding: 100px;
}
.log-panel{
  background-color: white;
  border: 2px black solid;
}

/* Regist */

.logg {
    background-color: #fff;
    width: 300px;
    padding: 50px 0;
    margin: 200px auto;
    border: 1px solid #000;
}

.logg h3 {
    text-align: center;
}

.logg__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logg__inner input {
    padding: 5px;
    margin-top: 20px;
}

.logg__inner input:first-child {
    margin-top: 0px;
}

.logg__inner a {
    margin-top: 40px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    padding: 5px 25px;
}

.logg__inner a:hover {
    color: #fff;
    background-color: #000;
    transition: 0.1s linear;
}

.button-end {
  font-size: 18px;
}


